
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: #121212;
    color: #fffff1;
  }

  aside {
    position: relative;
    background-color: #333;
    color: #fff;
    width: 30vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
.brand-name{
  font-size: 1.2rem;
  font-weight: lighter;
  font-style: italic;
}
.main{
  padding-left: 1em;
}
.header{
  
  background: #333;
  color: black;
  width:100vw ;
  height: auto;
}
.heading{
  font-size: 2rem;
  color: #fff;
}
.nav{
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
}
  .nav-item {
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1.4rem;
    
  }


  .nav a:hover {
    background-color: #555;
  }
  .next-btn{
  padding-left:1em ;
  padding-right: 1em;
  padding-bottom:0.75em ;
  padding-top: 0.75em;
  border: 1px solid rgba(255,255,255,0.6);
  height: auto;
  width: 50vw;
  font-size: 1.7rem;
  background: none;
  border-radius: 3pt;
  color: white;
}
  @media (max-width: 768px) {
    aside {
      transition: all 0.3s;
      z-index: 999;
      width: 50vw;
    }
  .hide{
    display: none;
  }
    

    .menu-icon {
      cursor: pointer;
      padding: 1px;
    }
    .next-btn{
      width: 60vw;
      font-size: 1.3rem;
      height: 10vh;
    }
  }

.carbon-selector {
    position: relative;
    display: inline-block;
    font-size: 16px;
    width: 40vw;
    
}

.selected-item {
    padding: 10px;
    background-color: #0062ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.options-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    display: none;
    background-color: #fff;
    color: #000 ;
    z-index: 1;
}

.option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #e5e5e5;
}
.choices{
  
  align-items: center;
  width: 98vw;
  height: auto;
  
  margin-bottom: 2em;
}
.lead{
  font-size: 1.3rem;
}

.next-btn:hover{
  background-color: white ;
  color: black;
  
}
.active{
   
   border-left: 5px solid #0062ff;
   background-color: #fff;
   color: #000;
   padding-left: 0.6em;
   padding-right: 0.6em;
   padding-top: 0.25;
   padding-bottom: 0.25;
   border-radius: 2pt;
}
.sub{
  padding: 2em;
}
input{
  border: none;
  height: 5vh;
  border-radius: 3pt;
  background-color: #2D2D2DFF;
  color: #fff ;
}
